*{
    box-sizing: border-box;
}

header{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: rgba(255, 235, 205, 0);
padding: 10px;
text-align: center;
}




nav{
    background-color: rgba(0, 0, 0, 0.308);
    margin: bottom 20px; ;
    

}
nav>ul{
    position: relative;

}
nav>ul>li{
    display: inline-block;
    padding: 20px;
    
}
section {
    position: relative;
    margin-left: 115px;


}


 h3{
     float: right;
     margin-right: 40%;
 }

 footer{
     background-color:rgba(0, 0, 0, 0.514) ;
     text-align: center;
    
    
 }

 p{
    overflow: scroll;
    margin-left: 50%;
    position: relative;
    bottom: 324px;
 }




   
